<p><span>Movie choice:</span> <%= @movie["Title"] %></p>
<p><span>Released in:</span> <%= @movie["Year"] %></p>
<p><span>Synopsis:</span> <%= @movie["Plot"] %></p>
<p><img src="<%= @movie["Poster"] %>"></p>
<p><span>More details:</span> <%= @movie %></p>
<!-- <p>Number of sequels: <%= @movie["Sequels"] %></p>
<p>First release: <%= @movie["Year_Release"]%></p> -->
